
* {        
        box-sizing: border-box;
 }
 body {
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;   
  background-color: #F3EAE3;
        
 }

 h1{
    font-family: 'Fraunces';
    font-size: 60px;    
 }

 p{
    font-family: 'Montserrat'; 
    font-size: 24px;      
 }

 .essenceproduct {     
   display: flex;
   flex-direction: row;
   min-height: 60vh;  
    min-width: 30vw; /*revisar */   
    background-color: #ffffff;
    border-radius: 12px;
    
 }

 img {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    padding: 0px;
    margin: 0px; 
    border-radius: 12px 0px 0px 12px;    
 }

 .seleccionDeOrden{
   display: flex;
   flex: 1;
   flex-direction: column;
   padding: 20px;
  margin: 20px;    
 }
 
 .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;    
  }
  .price{
    color: #275f49;
  }

  span {    
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 30px;
    text-decoration:line-through;
}

 .buttonprice{
 background-color: #275f49;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  padding: 35px;
  margin: 15px ;
  border: none;
  font-weight: bold;
  box-shadow: 1px 1px 5px #74c9a2;
  font-family: 'Montserrat'; 
   font-size: 24px; 
 }

 @media screen and (max-width: 800px) {

  body {
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;   
  background-color: #F3EAE3;
        
 }

 h1{
    font-family: 'Fraunces';
    font-size: 60px;    
 }

 p{
    font-family: 'Montserrat'; 
    font-size: 24px;      
 }

 .essenceproduct {     
   display: flex;
   flex-direction: column; 
    background-color: #ffffff;
    border-radius: 12px;
    
 }

 img {
   border-radius: 12px 12px 0px 0px;    
 }

 
 }